<html lang="en">
<%- include("./partials1/head.ejs") %>

<body>
  <%- include("./partials1/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Satik sai lobi</p>
  </div>

  <%- include("./partials1/footer.ejs") %>
</body>
</html>